{# {% block title %}Register !
{% endblock %} #}
<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="{{asset("global_assets/css/icons/icomoon/styles.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets/css/bootstrap.min.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets/css/bootstrap_limitless.min.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets/css/layout.min.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets/css/components.min.css")}}" rel="stylesheet" type="text/css">
<link
href="{{asset("assets/css/colors.min.css")}}" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
{% block stylesheets %}{% endblock %}

<!-- Core JS files -->
<script src="{{asset("global_assets/js/main/jquery.min.js")}}"></script>
<script src="{{asset("global_assets/js/main/bootstrap.bundle.min.js")}}"></script>
<script src="{{asset("global_assets/js/plugins/loaders/blockui.min.js")}}"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<script src="{{asset("global_assets/js/plugins/forms/styling/uniform.min.js")}}"></script>

<script src="{{asset("assets/js/app.js")}}"></script>
<script src="{{asset("global_assets/js/demo_pages/login.js")}}"></script>
<!-- /theme JS files -->
{% block javascripts %}{% endblock %}

{% block body %}


	<!-- Page content -->
	<div
		class="page-content login-cover ">

		<!-- Main content -->
		<div 
			class="content-wrapper">

			<!-- Content area -->
			<div
				class="content d-flex justify-content-center align-items-center ">
				<!-- Registration form -->

				<div class="login-form">
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Create account</h5>
								<span class="d-block text-muted">As agent</span>
							</div>

							<div class="form-group text-center text-muted content-divider">
								<span class="px-2">Your credentials</span>
							</div>


							{{ form_start(registrationForm) }}
				
				<i class="fa fa-calendar"></i>
				{{ form_label(registrationForm.email) }}
				{{ form_widget(registrationForm.email) }}


				<div class="form-error">
					{{ form_errors(registrationForm.email) }}
				</div>
				<i class="fa fa-calendar"></i>
				{{ form_label(registrationForm.password) }}
				{{ form_widget(registrationForm.password) }}


				<div class="form-error">
					{{ form_errors(registrationForm.password) }}
				</div>

				<i class="fa fa-calendar"></i>
				{{ form_label(registrationForm.lastname) }}
				{{ form_widget(registrationForm.lastname) }}


				<div class="form-error">
					{{ form_errors(registrationForm.lastname) }}
				</div>
				<i class="fa fa-calendar"></i>
				{{ form_label(registrationForm.phoneNumber) }}
				{{ form_widget(registrationForm.phoneNumber) }}


				<div class="form-error">
					{{ form_errors(registrationForm.phoneNumber) }}
				</div>
				<i class="fa fa-calendar"></i>
				{{ form_label(registrationForm.adress) }}
				{{ form_widget(registrationForm.adress) }}


				<div class="form-error">
					{{ form_errors(registrationForm.adress) }}
				</div>
				<i class="fa fa-calendar"></i>
				{{ form_label(registrationForm.avatar) }}
				{{ form_widget(registrationForm.avatar) }}


				<div class="form-error">
					{{ form_errors(registrationForm.avatar) }}
				</div>
			
			</div>
					</div>
				</div>
				<!-- /registration form -->
			</div>
			</div>
		
	
			


		<!-- Main content -->
	<div
			 class="content-wrapper" >

			<!-- Content area -->
			<div
				class="content d-flex justify-content-center align-items-center">
				<!-- Registration form -->

				<div class="login-form">
					<div class="card mb-0">
						<div class="card-body">
							<br>

							<div class="form-group text-center text-muted content-divider">
								<span class="px-2">Your agency</span>
							</div>
							
                          {{form_row(registrationForm.Agence.name)}}
						  {{form_row(registrationForm.Agence.email)}}
						  {{form_row(registrationForm.Agence.phoneNumber)}}
						  {{form_row(registrationForm.Agence.adress)}}
						  {{form_row(registrationForm.Agence.description)}}
						  {{form_row(registrationForm.Agence.brochurefilename)}}
							
							<br>
						     
							<br>


							<button type="submit" class="btn bg-teal-400 btn-block">Register
								<i class="icon-circle-right2 ml-2"></i>
							</button>
							<br>
							<div class="text-center">
								<a href="{{path('app_register')}}">Register as an admin?</a>
							</div>
							{{ form_end(registrationForm) }}


						</div>
					</div>
				</div>
				<!-- /registration form -->
			</div>
		</div>
	</div>

{% endblock %}
