{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% include "security/navbar.html.twig" %}
<section class="container">
    <div class="row">
        <div class="col"></div>
            <fieldset>
                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </fieldset>
      </div>
</section>
{% endblock %}
