{% extends 'base.html.twig' %}

{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block title %}Agent list
{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Agent pages</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="#" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Agent Pages -Agent management
		</span>
	</div>
{% endblock %}


{% block content %}

<div class="card"  style="background-color:#d2d2c2;">
	<!-- Basic datatable -->
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Agent list</h5>
			<div class="header-elements">
				<div class="list-icons">
					<a href="{{path('app_agent_new')}}" class="nav-link">

						<button type="submit" class="btn btn-success">
							<b>
								<i class="icon-plus3"></i>
							</b>
							Add agent</button>
					</a>
				</div>

			</div>
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Password</th>
					<th>Lastname</th>
					<th>Phone number</th>
					<th>Adress</th>
					<th>Name Agency</th>
					<th>Roles</th>
					<th class="text-center">Actions</th>

				</tr>
			</thead>
			<tbody>
				{% for agent in agents %}
					<tr>
						<td>{{ agent.id }}</td>
						<td>{{ agent.email }}</td>
						<td>{{agent.password}}</td>
						<td>{{ agent.lastname}}</td>
						<td>{{ agent.phoneNumber}}</td>
						<td>{{ agent.adress}}</td>
						<td>{{ agent.Agence.name}}</td>
						<td>
							{% for role in agent.roles %}
								{% if role == "ROLE_USER" %}
									User
								{% elseif role == "ROLE_AGENT" %}
									Agent
								{% endif %}
							{% endfor %}
						</td>
						
						<td>
							<div class="row ">
								<a class="btn btn-primary btn-block" href="{{ path('app_agent_edit', {'id': agent.id}) }}">
									Edit
								</a>

								<a class="btn btn-danger" data-toggle="modal" data-target="#modal_Delete{{agent.id}}">Delete</a>
							</div>
						</td>
					</tr>
					<!-- Delete modal -->
					<div id="modal_Delete{{agent.id}}" class="modal fade" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-danger">
									<h5 class="modal-title">Deletion</h5>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<div
									class="modal-body">
									{# <h6 class="font-weight-semibold">Text in a modal</h6> #}
									<p>Are you sure to delete this agent.</p>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<a href="{{ path('app_agent_delete',{'id': agent.id})}}">
										<button type="button" class="btn bg-primary">Delete</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Delete modal -->
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


</div>
{% endblock %}
