{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="{{asset("global_assets/js/plugins/editors/summernote/summernote.min.js")}}"></script>
	<script src="{{asset("global_assets/js/plugins/forms/styling/uniform.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/editor_summernote.js")}}"></script>

	<script src="{{asset("global_assets/js/plugins/extensions/jquery_ui/interactions.min.js")}}"></script>
	<script src="{{asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/form_select2.js")}}"></script>
{% endblock %}
{% block title %}
	Price List
{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Price List
	</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Price List - Price List management
		</span>
	</div>
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header header-elements-inline">
			<h6 class="card-title">{{price_list.title}}</h6>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="content justify-content-center align-items-center">
			{{ form_start(form) }}

			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.title) }}
				{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
				<div class="form-error">
					{{ form_errors(form.title) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.dateDebut) }}
				{{ form_widget(form.dateDebut, { 'attr': {'class': 'form-control'} }) }}
				<div class="form-error">
					{{ form_errors(form.dateDebut) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.dateFin) }}
				{{ form_widget(form.dateFin, { 'attr': {'class': 'form-control'} }) }}
				<div class="form-error">
					{{ form_errors(form.dateFin) }}
				</div>
			</div>
			<br>
			<div>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.prix) }}
				{{ form_widget(form.prix) }}
				<div class="form-error">
					{{ form_errors(form.prix) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.hotels) }}
				{{ form_widget(form.hotels, { 'attr': {'class': 'form_control select-search'} }) }}
				<div class="form-error">
					{{ form_errors(form.hotels) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.ExcursionsIncluded) }}
				{{ form_widget(form.ExcursionsIncluded, { 'attr': {'class': 'form_control select-search'} }) }}
				<div class="form-error">
					{{ form_errors(form.ExcursionsIncluded) }}
				</div>
			</div>
			{# <br>
			<div >
				<i class="fa fa-calendar"></i>
				{{ form_label(form.excursions) }}
				{{ form_widget(form.excursions, { 'attr': {'class': 'form-control select-search'} }) }}
				<div class="form-error">
					{{ form_errors(form.excursions) }}
				</div>
			</div> #}
			{# <br>
			<div >
				<i class="fa fa-calendar"></i>
				{{ form_label(form.offer) }}
				{{ form_widget(form.offer, { 'attr': {'class': 'form_control'} }) }}
				<div class="form-error">
					{{ form_errors(form.offer) }}
				</div>
			</div> #}

			<br>


			<div class="fc-left modal-footer">
				<a href="{{ path("app_excursion_index")}}">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
				</a>

				<button type="submit" class="btn btn-success">{{ button_label|default('Save') }}
					<i class="icon-paperplane ml-2"></i>
				</button>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
