{# {% extends 'base.html.twig' %} #}

{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>

	<script src="{{asset("global_assets/js/plugins/editors/summernote/summernote.min.js")}}"></script>
	<script src="{{asset("global_assets/js/plugins/forms/styling/uniform.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/editor_summernote.js")}}"></script>

	<script src="{{asset("global_assets/js/plugins/extensions/jquery_ui/interactions.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/form_select2.js")}}"></script>
	<!-- /theme JS files -->
{% endblock %}


<!-- Basic datatable -->
<div class="card">
	<div class="card-header header-elements-inline">
		<h5 class="card-title">Price list</h5>
		<div class="header-elements">
			<div class="list-icons">
				<a href="{{ path('app_price_list_new_price_list', {'id': cruise.getId()}) }}" class="nav-link">

					<button type="submit" class="btn btn-success">
						<b>
							<i class="icon-plus3 mr-1"></i>
						</b>
						<big>Add Price list</big>
					</button>
				</a>
			</div>

		</div>
	</div>

	<table class="table datatable-basic">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Start date</th>
				<th>End date</th>
				<th>Price</th>
				<th colspan="2">Hotels</th>
				{#  <th>Excursion Inclus</th> #}
				{# <th>offer</th> #}

				<th class="text-center">Actions</th>
			</tr>


		</thead>
		<tbody>
			{% for price_list in priceLists %}
				<tr>
					<td>{{ price_list.id }}</td>
					<td>{{price_list.title}}</td>
					<td>{{price_list.datedebut|date("d/m/Y")}}</td>
					<td>{{price_list.dateFin|date("d/m/Y")}}</td>
					<td>{{ price_list.prix }}</td>

					<td>
						{% for hotel in price_list.hotels %}
							<a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">{{ hotel.intitule }}</a>
						{% endfor %}
					</td>

					{# <td>
																																																				{% for excursion in price_list.excursions %}
																																																					{{ excursion.title }}
																																																				{% endfor %}
																																																			</td> #}
					{# <td>{{price_list.offer}}</td> #}
					<td></td>

					<td>
						<div
							class="row ">
							{# 						<a
														class="btn btn-primary btn-sm mr-1 text-white " data-toggle="modal" data-target="#modal_edit{{price_list.id}}">
							 #}
							<a href="{{ path('app_price_list_edit_price_list_to_cruise', { 'cruise': cruise.getId() ,'id': price_list.id}) }}" class="btn btn-primary btn-sm mr-1">

								<i class="icon-pencil7 mr-1"></i>

								Edit
							</a>
							<a class="btn btn-danger btn-sm text-white " data-toggle="modal" data-target="#modal_Delete{{price_list.id}}">
								<i class="icon-bin mr-1"></i>

								Delete</a>
						</div>
					</td>
				</tr>


				<!-- Primary modal -->
				{# <div id="modal_edit{{price_list.id}}" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header bg-primary">
												<h6 class="modal-title">Primary header</h6>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
				
											<div class="modal-body">
				
												{{ form_start(formPriceList) }}
				
												<div>
													<i class="fa fa-calendar"></i>
													{{ form_label(formPriceList.title) }}
													{{ form_widget(formPriceList.title, { 'attr': {'class': 'form-control'} }) }}
													<div class="form-error">
														{{ form_errors(formPriceList.title) }}
													</div>
												</div>
												<br>
												<div>
													<i class="fa fa-calendar"></i>
													{{ form_label(formPriceList.dateDebut) }}
													{{ form_widget(formPriceList.dateDebut, { 'attr': {'class': 'form-control'} }) }}
													<div class="form-error">
														{{ form_errors(formPriceList.dateDebut) }}
													</div>
												</div>
												<br>
												<div>
													<i class="fa fa-calendar"></i>
													{{ form_label(formPriceList.dateFin) }}
													{{ form_widget(formPriceList.dateFin, { 'attr': {'class': 'form-control'} }) }}
													<div class="form-error">
														{{ form_errors(formPriceList.dateFin) }}
													</div>
												</div>
												<br>
												<div>
													<i class="fa fa-calendar"></i>
													{{ form_label(formPriceList.prix) }}
													{{ form_widget(formPriceList.prix) }}
													<div class="form-error">
														{{ form_errors(formPriceList.prix) }}
													</div>
												</div>
												<br>
				
												<div >
													<i class="fa fa-calendar"></i>
													{{ form_label(formPriceList.hotels) }}
													{{ form_widget(formPriceList.hotels, { 'attr': {'class': 'form_control select-search'} }) }}
													<div class="form-error">
														{{ form_errors(formPriceList.hotels) }}
													</div>
												</div>
												<br>
												<div class="fc-left modal-footer">
													<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
				
													<button type="submit" class="btn bg-primary">
														{{ button_label|default('Save changes') }}
														<i class="icon-paperplane ml-2"></i>
													</button>
												</div>
				
				
												{{ form_end(formPriceList) }}
				
											</div>
				
				
										</div>
									</div>
								</div> #}
				<!-- /primary modal -->


				<!-- Delete modal -->
					<div id="modal_Delete{{price_list.id}}" class="modal fade" tabindex="-1"> <div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-danger">
								<h5 class="modal-title">Deletion</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div
								class="modal-body">
								{# <h6 class="font-weight-semibold">Text in a modal</h6> #}
								<p>Are you sure to delete this price_list.</p>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<a href="{{ path('app_price_list_delete_price_list_to_cruise',{'cruise': cruise.getId(),'id': price_list.id})}}">
									<button type="button" class="btn bg-danger">Delete</button>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete modal -->
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{# {% endblock %} #}
