{% extends 'front/home.html.twig' %}
{% block avion %}{% endblock %}
{% block top_menu %}

	<!--page title start-->
	<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" style="background-image:url({{asset("/front/assets/images/Home/home4.jpg")}});">
		<ul>
			<li><a href="javascript:;">Good Address</a></li>
		</ul>
	</div>
	<!--page title end-->
	<div class="clearfix"></div>


{% endblock %}

{% block content %}

	<!--  special offer section start -->
	<div class="full_width travelite_world_section">
		<div class="container">
			<div class="row">

				<div class="heading_team">
					<h3>Special good Addresses</h3>
					<p>
						Discover unique and special addresses for exceptional travel experiences.</p>

				</div>

				<!-- first ractangle start -->
				{% for good_address in goodAddresses %}
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div
							class=" full_width offer_box_wrapper">
							{# <div class="circle_icon">
																																										90%
																																										<span>off</span>
																																									</div> #}
							<div class="img_overlay_wrapper">
								<img src="{{ asset('uploads/images/goodAddress/picture/' ~ good_address.picture) }}" class="img-responsive" alt="offer">
								<div class="img_overlay"></div>
							</div>
							<div class="full_width offer_inner">
								<h4>{{good_address.intitule}}</h4>
								<p>{{good_address.region.intitule}}</p>
								<div class="overlay_btn">
									<a href="{{path('app_front_goodAddress_show',{'id': good_address.id})}}" class="green_btn">See all</a>
								</div>

							</div>
						</div>
					</div>
				{% endfor %}
				<!-- first ractangle End -->

				<div class="full_width destination_button">
					<a href="#" class="black_btn feature_more_btn">more destination</a>
				</div>

			</div>
		</div>
	</div>
	<!--  special offer section End -->


	<!-- slider_tab_main end -->
{# 	<div class="full_width travelite_world_section">
		<div class="container">
			<div class="row">

				<div class="heading_team">
					<h3>the world by type</h3>
					<p>Create stunning pages with our powerful admin panel. Functionality and usability combine. Travelllers Deals and Offers on Hotels, Vacation Packages, Flights, Cruises and Car Rentals</p>
				</div>

				<div
					class="full_width rectangle_wrapper">
					<!-- first ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-soundcloud big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>beach holidays</h4>
								<p>8 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<i class="fa fa-arrow-right small_circle"></i>
						</div>
					</div>
					<!-- first ractangle End -->

					<!-- second ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-home big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>boat house</h4>
								<p>7 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- second ractangle End -->

					<!-- thired ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-paw big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>adventure tours
								</h4>
								<p>10 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- thired ractangle End -->
					<!-- fourth ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-birthday-cake big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>honeymoon package
								</h4>
								<p>15 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- fourth ractangle End -->

					<!-- fourth ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-pied-piper-alt big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>wing ride in forest
								</h4>
								<p>8 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- fourth ractangle End -->

				</div>

			</div>
		</div>
	</div> #}
	<!-- counter section End -->
<!-- feature section start -->
	<!-- slider_tab_main end -->


{% endblock %}
