{% extends 'base.html.twig' %}

{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block title %}Omra list
{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Omra
	</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Omra - Omra management
		</span>
	</div>
{% endblock %}


{% block content %}


	<!-- Basic datatable -->
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Omra list</h5>
			<div class="header-elements">
				<div class="list-icons">
					{% if is_granted ('ROLE_ADMIN') %}
						<a href="{{path('app_omra_new')}}" class="nav-link">

							<button type="submit" class="btn btn-success">
								<b>
									<i class="icon-plus3 mr-1"></i>
								</b>
								<big>Add omra</big>
							</button>
						</a>
					{% elseif is_granted ('ROLE_AGENT') %}


						<a href="{{path('app_omra_new_agence',{'id':app.user.agence.id})}}" class="nav-link">

							<button type="submit" class="btn btn-success">
								<b>
									<i class="icon-plus3 mr-1"></i>
								</b>
								<big>Add omra</big>
							</button>
						</a>
					{% endif %}
				</div>

			</div>
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Picture</th>
					{# <th>Description</th>
					<th>Inclus</th>
					<th>Non inclus</th> #}
					{# <th>Country</th> #}
					<th>Country</th>
					{# <th>Good Address</th> #}
{# 					<th>Categories</th>
 #}					<th>Agence</th>

					{# <th>Reviews</th> #}


					<th class="text-center">Actions</th>
				</tr>


			</thead>
			<tbody>
				{% for omra in omras %}
					<tr>
						<td>{{ omra.id }}</td>
						<td><a href="{{ path('app_omra_show', {'id': omra.id}) }}"> {{omra.title}} </a> </td>
						<td><img src="{{ asset('uploads/images/offer/picture/' ~ omra.picture) }}" width="80" alt="No picture"></td>

						{# <td>{{ omra.description |raw}}</td>
						<td>{{ omra.inclus |raw}}</td>
						<td>{{ omra.nonInclus |raw}}</td> #}
						
						<td>
							{% for country in omra.country %}
								{{ country.intitule }}
							{% endfor %}
						</td>
						
						{# <td>
							{% for goodAddress in omra.goodAddress %}
								{{ goodAddress.intitule }}
							{% endfor %}
						</td> #}
						{# <td>
							{% for category in omra.categories %}
								{{ category.style }}
							{% endfor %}
						</td> #}
						<td>{{ omra.agence.name }}</td>
						<td>
							<div class="row ">
								{# <a href="{{ path('app_omra_edit', {'id': omra.id}) }}" class="btn btn-primary btn-sm mr-1">
									<i class="icon-pencil7 mr-1"></i>

									Edit
								</a> #}

								{% if is_granted ('ROLE_ADMIN') %}
									<a href="{{ path('app_omra_edit', {'id': omra.id}) }}" class="btn btn-primary btn-sm mr-1">
										<i class="icon-pencil7 mr-1"></i>

										Edit
									</a>
								{% elseif is_granted ('ROLE_AGENT') %}

									<a href="{{ path('app_omra_edit_agence', {'omra': omra.id,'id':app.user.agence.id}) }}" class="btn btn-primary btn-sm mr-1">
										<i class="icon-pencil7 mr-1"></i>

										Edit
									</a>

								{% endif %}

								<a class="btn btn-danger btn-sm text-white " data-toggle="modal" data-target="#modal_Delete{{omra.id}}">
									<i class="icon-bin mr-1"></i>

									Delete</a>
							</div>
						</td>
					</tr>
					<!-- Delete modal -->
					<div id="modal_Delete{{omra.id}}" class="modal fade" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-danger">
									<h5 class="modal-title">Deletion</h5>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<div
									class="modal-body">
									{# <h6 class="font-weight-semibold">Text in a modal</h6> #}
									<p>Are you sure to delete this omra.</p>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<a href="{{ path('app_omra_delete',{'id': omra.id})}}">
										<button type="button" class="btn bg-danger">Delete</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Delete modal -->
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
