{% extends 'base.html.twig' %}
{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block title %}
	Excursion

{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Excursion
	</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Excursion - Excursion management
		</span>
	</div>
{% endblock %}

{% block content %}

	<!-- Timeline -->
	<div class="timeline timeline-left">
		<div class="timeline-container">

			<!-- Sales stats -->


			<!-- /post -->
				<div class="timeline-row"> <div class="timeline-icon">
					<img src="../../../../global_assets/images/placeholders/placeholder.jpg" alt="">
				</div>
				<div class="content">
					<div class="timeline-heading">
						<h2 class="timeline-title">General Details</h2>
					</div>

					<div class="card blog-horizontal">
						<div class="card-body">
							<div class="card-img-actions mr-3">
								<img
								class="card-img img-fluid" src="{{ asset('uploads/images/offer/excursion/picture/' ~ excursion.picture) }}" alt="">
								{# <div class="card-img-actions-overlay card-img">
																																																	<a href="blog_single.html" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
																																																		<i class="icon-link"></i>
																																																	</a>
																																																</div> #}
								<br><br>

								<div {# class="card-footer" #}>
									{% for image in excursion.images %}
										<a href="#">
											<img src="{{ asset('uploads/images/excursion/pictures/' ~ image) }}" class="rounded" width="36" height="36" alt="">
										</a>
									{% endfor %}
									<a href="{{ path('app_excursion_edit', {'id': excursion.id}) }}" class="btn btn-icon bg-transparent border-slate-300 text-slate rounded border-dashed">
										<i class="icon-plus22"></i>
									</a>
								</div>
							</div>


							<div class="media-body">
								<h2 class="media-title font-weight-semibold">
									<a href="#" class="text-default">{{excursion.title}}</a>
								</h2>
								<span class="d-block">
									<h6>
										<i class="icon-location4 mr-1"></i>
										{% for region in excursion.regions %}
											{{ region.intitule }}
										{% endfor %}
									</h6>
								</span>
							</div>
							<br>
							<div class="mb-4">
								<h6 class="font-weight-semibold">Description</h6>
								{{ excursion.description |raw}}
							</div>

							<div class="row">
								{% if excursion.inclus is not empty %}
									<div class="col-sm-6">
										<div class="mb-4">
											<dl>
												<dt class="font-size-sm font-weight-bold text-uppercase">
													<i class="icon-checkmark3 text-blue mr-2"></i>
													Included
												</dt>
												<dd>{{ excursion.inclus |raw}}</dd>
											</dl>
										</div>
									</div>
								{% endif %}
								{% if excursion.nonInclus is not empty %}
									<div class="col-sm-6">
										<div class="mb-4">
											<dl>
												<dt class="font-size-sm font-weight-bold text-uppercase">
													<i class="icon-cross2 text-blue mr-2"></i>
													Not Included
												</dt>
												<dd>{{ excursion.nonInclus |raw}}</dd>
											</dl>
										</div>
									</div>
								{% endif %}
							</div>


						</div>


					</div>
					<!-- /blog layout #2 with image -->


				</div>
			</div>


					<div class="timeline-row">
										<div class="timeline-icon">
											<img src="../../../../global_assets/images/placeholders/placeholder.jpg" alt="">
										</div>
						
										<div class="content">
						
											<div>
												<h2 class="timeline-title">Price list</h2>
						
						
												{{ render(controller('App\\Controller\\PriceListController::show', { 'excursion': excursion })) }}
						
						
											</div>
						
										</div>
						
						
									</div>


			<div class="timeline-row">
				<div class="timeline-icon">
					<img src="../../../../global_assets/images/placeholders/placeholder.jpg" alt="">
				</div>

				<div class="content">

					<div>
						<h2 class="timeline-title">Good Address list</h2>


						{{ render(controller('App\\Controller\\GoodAddressController::show', { 'excursion': excursion })) }}


					</div>

				</div>


			</div>


			<div class="timeline-row">
				<div class="timeline-icon">
					<div class="bg-info-400">
						<i class="icon-comment-discussion"></i>
					</div>
				</div>

				<div class="content">

					<div>
						<h2 class="timeline-title">Reviews list</h2>

						{# {% if goodAddress is not empty %} #}
						{{ render(controller('App\\Controller\\ReviewsController::showReviewsExcursion', { 'excursion': excursion })) }}
						{# {% endif %} #}

					</div>

				</div>


			</div>
		</div>
	</div>
{% endblock %}
