{% extends 'base.html.twig' %}

{% block title %}
	Admin

{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Admin pages</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Admin Pages - Admin management
		</span>
	</div>
{% endblock %}

{% block content %}


	<div class="card">
		<div class="card-header header-elements-inline">
			<h6 class="card-title">{{ admin.lastname}}</h6>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="card-body">

			{{ form_start(form) }}


			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.lastname) }}
				{{ form_widget(form.lastname) }}


				<div class="form-error">
					{{ form_errors(form.lastname) }}
				</div>
			</div>
			<br>
			<div>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}


				<div class="form-error">
					{{ form_errors(form.email) }}
				</div>
			</div>
			<br>

			<div>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.plainPassword) }}
				{{ form_widget(form.plainPassword) }}


				<div class="form-error">
					{{ form_errors(form.plainPassword) }}
				</div>
			</div>
			<br>

			<i class="fa fa-calendar"></i>
			{{ form_label(form.avatar) }}
			<div class="form-control">
				{{ form_widget(form.avatar) }}


				<div class="form-error">
					{{ form_errors(form.avatar) }}
				</div>
			</div>

			<br>
			<br>

			<div class="fc-left modal-footer">
				<a href="{{ path("app_admin_index")}}">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
				</a>

				<button type="submit" class="btn btn-success">{{ button_label|default('Save') }}
					<i class="icon-paperplane ml-2"></i>
				</button>
			</div>

			{{ form_end(form) }}

		</div>
	</div>


{% endblock %}
