{% extends 'base.html.twig' %}

{% block title %}
	Region

{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Region pages</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Region Pages - Region management
		</span>
	</div>
{% endblock %}

{% block content %}
	<div class="content d-flex justify-content-center align-items-center">
		<div class="login-form wmin-sm-400">


			{{ form_start(form) }}
			<fieldset>


				{{ form_widget(form) }}
				<br><br>

				<div class="fc-left">
					<button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>
				</div>
				<br>


			</fieldset>
			{{ form_end(form) }}

			<a href="{{ path("app_region_index")}}">
				<button class="btn btn-light">
					Close
				</button>
			</a>
		</div>

	</div>


{% endblock %}
