{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="{{asset("global_assets/js/plugins/editors/summernote/summernote.min.js")}}"></script>
	<script src="{{asset("global_assets/js/plugins/forms/styling/uniform.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/editor_summernote.js")}}"></script>
{% endblock %}
{% block title %}
	Good address

{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Good address
	</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Good address - Good address management
		</span>
	</div>
{% endblock %}

{% block content %}

	<div class="card">
		<div class="card-header header-elements-inline">
			<h6 class="card-title">{{ good_address.intitule }}</h6>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="content justify-content-center align-items-center">
			{{ form_start(form) }}


			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.intitule) }}
				{{ form_widget(form.intitule) }}
				<div class="form-error">
					{{ form_errors(form.intitule) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.address) }}
				{{ form_widget(form.address) }}
				<div class="form-error">
					{{ form_errors(form.address) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.region) }}
				{{ form_widget(form.region) }}
				<div class="form-error">
					{{ form_errors(form.region) }}
				</div>
			</div>
			<br>

			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.description) }}
				{{ form_widget(form.description, { 'attr': {'class': 'summernote'} }) }}
				<div class="form-error">
					{{ form_errors(form.description) }}
				</div>
			</div>
			<br>
			<div {# class="form-control" #}>
				<i class="fa fa-calendar"></i>
				{{ form_label(form.category) }}
				{{ form_widget(form.category) }}
				<div class="form-error">
					{{ form_errors(form.category) }}
				</div>
			</div>
			<br>
			{{ form_label(form.picture) }}
			<div class="form-control">
				<i class="fa fa-calendar"></i>
				{{ form_widget(form.picture) }}
				<div class="form-error">
					{{ form_errors(form.picture) }}
				</div>
			</div>
			<br>

			<br>

			<div class="fc-left modal-footer">
				<a href="{{ path("app_good_address_index")}}">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
				</a>

				<button type="submit" class="btn btn-success">{{ button_label|default('Save') }}
					<i class="icon-paperplane ml-2"></i>
				</button>
			</div>

			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}
