{% extends 'base.html.twig' %}

{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>
	<!-- /theme JS files -->

	<!-- Credits to https://bootsnipp.com/snippets/1d3X9 -->

	{# 	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> #}<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"> </script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Include the above in your HEAD tag -->
{% endblock %}
{% block title %}Show article
{% endblock %}

{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Article
	</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Article - Show article
		</span>
	</div>
{% endblock %}


{% block content %}

	<div class="d-flex align-items-start flex-column flex-md-row">


		<div class="tab-content w-100 order-2 order-md-1">
			<div
				class="tab-pane fade active show" id="activity">

				<!-- Sales stats -->
				<div class="card">

					<div class="content">
						<div class="profile-cover">

							<div class="mr-md-3 mb-2 mb-md-0">
								<a href="#">
									<img src="{{ asset('uploads/images/article/picture/' ~ article.picture) }}" class="border-white " width="1550" height="300" alt="">
								</a>
							</div>

							<div class="media-body ">

								<h1 class="text-center"> Article :
									{{article.title}}
								</h1>
								<div class="card">
									<h4>{{article.shortDescription}}</h4>
								</div>

							</div>


						</div>
					</div>

					<div class="card-body">

						<div class="" >
							<div class="card-body" style="background-color:#f8fdf7;">
								<div class="card">
									<h4>{{article.description}}</h4>
								</div>
							</div>
							<br><br>


						</div>


						<!--Container-->
						{# <div class="container"> #}
						{# <div class="row mb-2">
													<div class="col-12 text-center pt-3">
														<h1>Bootstrap Magazine Carousel</h1>
														<p>Bootstrap Header Responsive Magazine Grid Cover Carousel</p>
													</div>
												</div> #}

						<!--Start code--> <div class="d-flex justify-content-center align-items-center">
							<div class="row">
								<div
									class="col-12 pb-5 ">
									<!--SECTION START-->

									<section
										class="row">
										<!--Start slider news-->
										<div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
											<div
												id="featured" class="carousel slide carousel" data-ride="carousel">
												<!--dots navigate-->
												<ol class="carousel-indicators top-indicator">
													<li data-target="#featured" data-slide-to="0" class="active"></li>
													<li data-target="#featured" data-slide-to="1"></li>
													<li data-target="#featured" data-slide-to="2"></li>
													<li data-target="#featured" data-slide-to="3"></li>
												</ol>


												<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
													<ol class="carousel-indicators">

														{% for image in article.images %}
															<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
														{% endfor %}

													</ol>
													<div class="carousel-inner">

														{% for image in article.images %}
															<div class="carousel-item {% if loop.first %}active{% endif %}">
																<div class="card border-0 rounded-0 text-light overflow zoom">
																	<div
																		class="position-relative">
																		<!--thumbnail img-->
																		<div class="ratio_left-cover-1 image-wrapper">
																			<a href="#">
																				<img class="img-fluid w-100" src="{{ asset('uploads/images/article/pictures/' ~ image) }}" style="width: 700px; height: 500px;">
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														{% endfor %}

													</div>


													<!--end carousel inner-->
												</div>

												<!--navigation-->
												<a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
													<span class="carousel-control-prev-icon" aria-hidden="true"></span>
													<span class="sr-only">Previous</span>
												</a>
												<a class="carousel-control-next" href="#featured" role="button" data-slide="next">
													<span class="carousel-control-next-icon" aria-hidden="true"></span>
													<span class="sr-only">Next</span>
												</a>
											</div>
											<!--End slider news-->


										</section>

										<!--END SECTION-->
									</div>
								</div>
								<!--end code-->
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
