{% extends 'front/home.html.twig' %}
{% block avion %}{% endblock %}
{% block top_menu %}


<!--page title start-->
	<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" style="background-image:url({{asset("/front/assets/images/Home/home4.jpg")}});">
		<ul>
			<li><a href="javascript:;">Articles</a></li>
		</ul>
	</div>
	<!--page title end-->
	<div class="clearfix"></div>


{% endblock %}


{% block content %}


	<div class="full_width latest_news_section">
		<div class="container">
			<div class="row row_top">
				<div class="heading_team">
					<h3>Tourism News</h3>
					<p>
						Stay updated with the latest in tourism news and trends.</p>
				</div>
				{% for article in articles %}


					<!--  news box start -->
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="latest_news_wrapper">
							<div class="news_thumb_wrapper">
								<img src="{{ asset('uploads/images/article/picture/' ~ article.picture) }}" alt="news image" class="img-responsive">
								<div class="latest_news_overlay"></div>
							</div>
							<div class="latest_news_desc">
								<h4>
									<a href="#">{{article.title}}</a>
								</h4>
								<div class="news_heading_tag">
									{% for category in article.categories %}


										<span>{{category.style}}</span>

									{% endfor %}
								</div>
								<p>{{article.shortDescription|raw}}</p>
								<div class="news_read_more">
									<a href="{{path('app_front_article_show',{'id': article.id})}}" class="read_more">Read More</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<!--  news box End -->


			</div>
		</div>
	</div>

	<!-- latest news section start -->


	<!-- slider_tab_main end -->
	<div class="full_width travelite_world_section">
		<div class="container">
			<div class="row">

				<div class="heading_team">
					<h3>the world by type</h3>
					<p>Create stunning pages with our powerful admin panel. Functionality and usability combine. Travelllers Deals and Offers on Hotels, Vacation Packages, Flights, Cruises and Car Rentals</p>
				</div>

				<div
					class="full_width rectangle_wrapper">
					<!-- first ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-soundcloud big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>beach holidays</h4>
								<p>8 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<i class="fa fa-arrow-right small_circle"></i>
						</div>
					</div>
					<!-- first ractangle End -->

					<!-- second ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-home big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>boat house</h4>
								<p>7 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- second ractangle End -->

					<!-- thired ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-paw big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>adventure tours
								</h4>
								<p>10 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- thired ractangle End -->
					<!-- fourth ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-birthday-cake big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>honeymoon package
								</h4>
								<p>15 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- fourth ractangle End -->

					<!-- fourth ractangle start -->
					<div class="col_25 ractangle_box_cover">
						<div class="circle_icon">
							<i class="fa fa-pied-piper-alt big_circle"></i>
						</div>
						<div class="full_width ractangle_inner">
							<img src="https://via.placeholder.com/229x336" alt="house">
							<div class="inner_ovelay">
								<h4>wing ride in forest
								</h4>
								<p>8 tours available</p>
							</div>
						</div>
						<div class="circle_icon">
							<a href="#" class="fa fa-arrow-right small_circle"></a>
						</div>
					</div>
					<!-- fourth ractangle End -->

				</div>

			</div>
		</div>
	</div>
	<!-- counter section End -->
<!-- feature section start -->
	<!-- slider_tab_main end -->

{% endblock %}
