{% extends 'base.html.twig' %}

{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block title %}Hotel list
{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Hotel
	</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Hotel - Hotel management
		</span>
	</div>
{% endblock %}


{% block content %}


	<!-- Basic datatable -->
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Hotel list</h5>
			<div class="header-elements">
				<div class="list-icons">
					<a href="{{path('app_hotel_new')}}" class="nav-link">

						<button type="submit" class="btn btn-success">
							<b>
								<i class="icon-plus3 mr-1"></i>
							</b>
							<big>Add hotel</big>
						</button>
					</a>
				</div>

			</div>
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>Id</th>
					<th>Entitled</th>
					<th>Picture</th>
					<th>Address</th>
					<th>Country</th>
					<th colspan="2">characteristic</th>
					<th class="">Actions</th>
				</tr>


			</thead>
			<tbody>
				{% for hotel in hotels %}
					<tr>
						<td>{{ hotel.id }}</td>
						<td>{{ hotel.intitule }}</td>
						<td><img src="{{ asset('uploads/images/hotel/picture/' ~ hotel.picture) }}" width="80" height="80" alt="No picture"></td>
						<td>{{ hotel.address }}</td>
						<td>{{ hotel.country.intitule }}</td>
						<td>{{ hotel.characteristic|raw}}</td>
					    <td></td>
						
						<td>
							<div class="row">
								<a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}" class="btn btn-primary btn-sm mr-1">
									<i class="icon-pencil7 mr-1"></i>
									Edit
								</a>
								<a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#modal_Delete{{hotel.id}}">
									<i class="icon-bin mr-1"></i>
									Delete
								</a>
							</div>
						</td>
					</tr>
					<!-- Delete modal -->
					<div id="modal_Delete{{hotel.id}}" class="modal fade" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-danger">
									<h5 class="modal-title">Deletion</h5>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<div
									class="modal-body">
									{# <h6 class="font-weight-semibold">Text in a modal</h6> #}
									<p>Are you sure to delete this hotel.</p>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<a href="{{ path('app_hotel_delete',{'id': hotel.id})}}">
										<button type="button" class="btn bg-danger">Delete</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Delete modal -->
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
